

.question {
    margin-bottom: 24px;
}

.answer {
    margin-left: 12px;
    text-align: left;
    padding: 5px;
}

label {
    /* display: inline-block; */
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}